<h1 class="title">Generador CSS</h1>
<div class="container">
  <div class="options">
    <h2 class="opt_title">OPTIONS</h2>
    <div class="opt_inputs">
      <div class="opt_box_inputs">
        <label style="display: block;">Width</label>
        <input type="number" name="width">
      </div>

      <div class="opt_box_inputs">
        <label style="display: block;">Height</label>
        <input type="number" name="width">
      </div>

      <div class="opt_box_inputs">
        <label style="display: block;">Border</label>
        <input type="number" name="width">
      </div>
      
      <div class="opt_box_inputs">
        <label style="display: block;">Color</label>
        <input type="color" name="width">
      </div>
    </div>
  </div>
  <div class="preview">
    <h2 class="prw_title">PREVIEW</h2>
    <div class="box-preview">
      <div class="box">
        50 x 50
      </div>
    </div>
    <div class="code"></div>
  </div>
</div>