<h1 class="title">Generador CSS</h1>
<div class="container">
  <div class="options">
    <h2 class="opt_title">OPTIONS</h2>
    <div class="opt_inputs">
      <div class="opt_box_input">
        <label>Width</label>
        <input type="number" name="width">
      </div>

      <div class="opt_box_input">
        <label>Height</label>
        <input type="number" name="width">
      </div>

      <div class="opt_box_input">
        <label>Border</label>
        <input type="number" name="width">
      </div>
      
      <div class="opt_box_input">
        <label>Color</label>
        <input style="padding-left: 0;" type="color" name="width">
      </div>
    </div>
  </div>
  <div class="preview">
    <h2 class="prw_title">PREVIEW</h2>
    <div class="box-preview">
      <div class="box">
        50 x 50
      </div>
    </div>
  </div>
</div>
<div class="box_code">
  <div class="code">
    width: 50px; <br>
    height: 50px; <br>
    border: 0px; <br>
    Color: #00000 <br>
  </div>
</div>